.cart-container {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 75%;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out;
}

.cart-container:hover {
  transform: scale(1.02);
}

.cart-details {
  list-style-type: none;
  padding: 0;
}

.cart-details li {
  padding: 10px 0;
  border-bottom: 1px solid #f3f3f3;
}

.item-details {
  list-style-type: none;
  padding: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.item-name {
  font-weight: 500;
}

.item-controls {
  display: flex;
  align-items: center;
}

.item-controls button {
  background-color: #fc8019;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.item-controls button:hover {
  background-color: #e67300;
}

.item-quantity {
  font-weight: bold;
}
