<div>
        <app-nav></app-nav>
        <div class="main" style="margin-top:100px">


                <div class="cart-container">
                        <h1 class="margin-left:400px"><b>Your cart</b></h1>
                        <ul class="cart-details">
                                <!-- <li *ngIf="cart?.id">ID: {{ cart.id }}</li>
                                <li *ngIf="cart?.userId">User ID: {{ cart.userId }}</li> -->
                                <!-- <li *ngIf="cart?.restId">Rest ID: {{ cart.restId }}</li> -->
                                <li *ngIf="cart?.items">
                                        <ul class="item-details">
                                                <li *ngFor="let item of cart.items | keyvalue">
                                                        <div class="item">
                                                                <span class="item-name">{{ item.key }}</span>
                                                                <div class="item-controls">
                                                                        <button class="quan me-2"
                                                                                (click)="decreaseItem(item.key)">-</button>
                                                                        <span class="item-quantity">{{ item.value
                                                                                }}</span>
                                                                        <button class="quan ms-2"
                                                                                (click)="increaseItem(item.key)">+</button>
                                                                        <button class="removee"
                                                                                (click)="removeItem(item.key)">Remove</button>
                                                                                
                                                                </div>
                                                        </div>
                                                </li>
                                        </ul>
                                </li>
                                <li *ngIf="cart?.deliveryAddress">Delivery Address: {{ cart.deliveryAddress }}</li>
                                <li *ngIf="cart?.orderPlaced">Order Placed: {{ cart.orderPlaced }}</li>
                                <li *ngIf="cart?.total">Total: {{ cart.total }}</li>
                        </ul>
                        <button pButton pRipple type="button" class="p-button-rounded p-button-warning"
                                [disabled]="statusorder === 'Order Placed'" (click)="makePayment(cart.total, cart.id)"
                                routerLink="/orderstatuscomp">Place
                                order now</button>

                        <h1>{{statusorder}}</h1>
                </div>


        </div>

</div>