.cart-container {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out;
}

.cart-container:hover {
  transform: scale(1.02);
}

.cart-details {
  justify-content: center;
  width:95%;
  list-style-type: none;
  padding: 0;
}

.cart-details li {
  padding: 10px 0;
  border-bottom: 1px solid #f3f3f3;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cart-details li:hover {
  // background-color: #f9f9f9;
  transform: scale(1.01);
}

.item-details {
  list-style-type: none;
  padding: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.item-name {
  font-weight: 500;
}

.item-controls {
  display: flex;
  align-items: center;
}

.item-controls button {

  background-color: #fc8019;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.item-controls button:hover {
  background-color: #e67300;
}

.item-quantity {
  font-weight: bold;
}
.item-controls button:last-child {
  margin-left: 50px;
}


// button.quan {
//   border-radius: 50%; /* This will make the button rounded */
//   background-color: transparent; /* This will make the button transparent */
//   border: 2px solid orange; /* This will give the button an orange border */
//   color: orange; /* This will make the text color orange */
// }
// 