<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/75cdf8c31d.js"></script>

<div class="container">
        <app-nav></app-nav>
        <div style="margin-top: 100px;" class="gap-3 ms-5">
                <h2 class="ms-5"><b>Best offers for you</b></h2>
                <p-carousel [value]="images" [numVisible]="3" [numScroll]="3" [circular]="true"
                        [autoplayInterval]="3000">
                        <ng-template let-image pTemplate="item">
                                <div style="padding-right: 16px;">
                                        <img [routerLink]="['/offer']" [src]="image" class="carousel-image" />
                                </div>
                        </ng-template>
                </p-carousel>

                <!-- <p-carousel [numVisible]="1" [autoplayInterval]="3000" [responsiveOptions]="[
                          {
                            breakpoint: '1024px',
                            numVisible: 2,
                            numScroll: 2
                          },
                          {
                            breakpoint: '768px',
                            numVisible: 1,
                            numScroll: 1
                          }
                        ]">
                        <ng-template let-image pTemplate="item">
                                <div class="carousel-image-container">
                                        <img [src]="image" class="carousel-image" />
                                </div>
                        </ng-template>
                </p-carousel> -->
                <h2 class="ms-5"><b>{{ userData.userName }}, What's on your mind?</b></h2>
                <p-carousel [value]="imagess" [numVisible]="6" [numScroll]="3" [circular]="true"
                        [autoplayInterval]="3000">
                        <ng-template let-image pTemplate="item">
                                <div style="padding-right: 16px;">
                                        <img routerLink="/cat" [src]="image" class="carouse-image"  />
                                </div>
                        </ng-template>

                        <p-carousel [numVisible]="1" [autoplayInterval]="5500" [responsiveOptions]="[
                  {
                    breakpoint: '1024px',
                    numVisible: 2,
                    numScroll: 2
                  },
                  {
                    breakpoint: '768px',
                    numVisible: 1,
                    numScroll: 1
                  }
                ]">
                                <ng-template let-image pTemplate="item">
                                        <div class="carousel-image-container">
                                                <img [src]="image" class="carousel-image" />
                                        </div>
                                </ng-template>
                        </p-carousel>
                </p-carousel>

        </div>

        <h2 class="ms-5 mb-2" style="padding-left: 20px;"><b>Restaurants with online food delivery</b></h2>
        <div class="ms-5">
                <button pButton pRipple type="button" label="Sort by rating"
                        class="p-button-raised p-button-secondary p-button-text category-btn"
                        (click)="toggleSortByRating()"></button>
                <button pButton pRipple type="button" label="Sort by no. of ratings"
                        class="p-button-raised p-button-secondary p-button-text category-btn "
                        (click)="toggleSortBynoofRatings()"></button>
                <button pButton pRipple type="button" label="Clear filter"
                        class="p-button-raised p-button-secondary p-button-text category-btn "
                        (click)="clearfilter()"></button>

        </div>

        <div class="col-lg-12 d-flex justify-content-center mt-2">
                <div class="row d-flex justify-content-center flex-wrap gap-2">
                        <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
                        <app-card *ngFor="let res of restaurantList " [res]="res"
                                class="d-flex justify-content-center col-lg-2 ms-4 me-5 mb-2"></app-card>
                </div>
        </div>




</div>