    .orderorder{
        overflow: hidden;
    }
.myorderstatus{
        background-image: "https://us.123rf.com/450wm/cosmaa/cosmaa2210/cosmaa221000233/192624410-cartoon-vector-illustration-of-location-map-application-to-deliver-package-goods-man-ride-on.jpg?ver=6";
        background-size: cover;
}
.cla {
    background: linear-gradient(to bottom right, #FF6434, rgb(247,152,93));
        color: white;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        // height: 100vh;
        height:280px;
        width: 1289px;
        text-align: center;
    }
    h1 {
        font-size: 3em;
        font-weight: bold;
    }
    .spin{
        background-color:orange;
        color: white;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        // height: 100vh;
        height:300px;
        width:1289px;
        text-align: center;
    }

