<div>
        <app-nav></app-nav>
        <div class="flex col-md-4 off margin-top:300px">

                <div class="container">
                        <div class="row">
                                <div class="col-lg-8mr-5 mb-4" *ngFor="let image of imagess">
                                        <img [src]="image.image" style="width:300px;height:300px;margin-right: 1900px;"  alt="offers">
                                </div>
                        </div>
                </div>
        </div>
</div>