<div>
        <app-nav class="mb-5"></app-nav>
        <div class="main" style="margin-top: 100px;" class="mb-5">

                <h1>
                        <p>{{restaurant?.name}}</p>
                        <img alt="Card" [src]="imgSrc" style="max-width: 35%; max-height: 150px;" class="img">

                </h1>
        </div>
        <div id="menu-container" class="ms-5">
                <button pButton pRipple type="button" label="Pure Veg"
                        class="p-button-raised p-button-secondary p-button-text category-btn "
                        (click)="toggleVegFilter()"></button>
                <button pButton pRipple type="button" label="Non Veg"
                        class="p-button-raised p-button-secondary p-button-text category-btn "
                        (click)="toggleNonVegFilter()"></button>
                <div class="list">
                        <div *ngFor="let menuItem of filtered" class="card-container">
                                <div class="details">
                                        <h1>{{menuItem.id}}</h1>
                                        <h3>{{ menuItem.name }}</h3>
                                        <p>Category: {{ menuItem.category }}</p>
                                        <p>{{ menuItem.description }}</p>
                                        <p>Price:Rs. {{ menuItem.price / 100 }}</p>
                                </div>
                                <div class="img-container">
                                        <img alt="Card" src="https://picsum.photos/200/300" class="img">
                                        <button class="add-to-cart" (click)="addIteminCart(menuItem.id)">Add to
                                                cart</button>
                                </div>
                        </div>
                </div>

        </div>
</div>