<div>
        <app-nav class="mb-5"></app-nav>
        <div class="main" style="margin-top: 100px;" class="mb-5">

                <h1>
                        <p>{{restaurant?.name}}</p>
                        <img alt="Card" [src]="imgSrc" style="max-width: 100%; max-height: 150px;" class="img">

                </h1>
        </div>
        <div id="menu-container" class="ms-5">
                <button pButton pRipple type="button" label="Pure Veg"
                        class="p-button-raised p-button-secondary p-button-text category-btn "
                        (click)="toggleVegFilter()"></button>
                <button pButton pRipple type="button" label="Non Veg"
                        class="p-button-raised p-button-secondary p-button-text category-btn "
                        (click)="toggleNonVegFilter()"></button>
                <div *ngFor="let menuItem of filtered " class="card mb-4 d-flex justify-content-between"
                        style="max-width: 80%;">
                        <img alt="Card" [src]="menuItem.imageId" style="max-width: 85%; max-height: 150px;" class="img">
                        <div class="details">
                                <h3>{{ menuItem.name }}</h3>
                                <p>Category: {{ menuItem.category }}</p>
                                <p>{{ menuItem.description }}</p>
                                <p>Price:Rs. {{ menuItem.price /100}}</p>
                                <p>menu?.</p>
                        </div>
                </div>
        </div>
</div>