.container{
        display: flex;
        max-width: 800px;
        min-height: 800px;
        margin: 20px auto 0;
        justify-content: center;
}

.MenuTopHeader_rightNavItem__3dysE{
        font-size: 18px;
        min-width: 42px;
        overflow: hidden;
        position: relative;
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 12px;
}
