<div class="propro">
        <app-nav></app-nav>
        <h1 style="margin-top: 80px;margin-left: 30px;color:black "><b>Hey , {{userData.userName}} !</b></h1>
        <div style=" display: flex;">


                <div class="card" style="margin-top: 50px;" *ngIf="userData.userType==='Delivery'">
                        <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
                        <p-chart type="doughnut" [data]="basicData" [options]="basicOptions"></p-chart>

                </div>
                <div class="detcustomer" *ngIf="userData.userType==='Customer' ">
                        <h1 *ngIf="foodList" style="margin-left:20px"><b>Order these again ?</b></h1>
                        <div class="container" style="width:300px;height: 300px; overflow-y:  overlay;">
                                <div class="row" *ngIf="foodList && foodList.length > 0">
                                        <div class="row-md-4 mb-1" *ngFor="let food of foodList">
                                                <div class="card mb-2 shadow-sm" style="padding: 5px;">
                                                        <div class="card-body">
                                                                <h5 class="card-title"><b>{{ food.name }}</b></h5>

                                                                <div
                                                                        class="d-flex justify-content-between align-items-center">
                                                                        <div class="btn-group">
                                                                                <button type="button"
                                                                                        class="btn btn-warning btn-sm spa"
                                                                                        (click)="addIteminCart(food.id)">Add
                                                                                        to Cart</button>
                                                                        </div>
                                                                        <small class="text-muted">Rs. {{
                                                                                food.price.substring(0, 3) }}</small>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="row" *ngIf="!foodList || foodList.length === 0">
                                        <img src="https://b.zmtcdn.com/webFrontend/96a9a259cfa3dd8e260d65d1f135ab941581004545.png"
                                                style="max-width: 180px;max-height: 200px;margin-left: 30px;margin-top:30px;">
                                </div>
                        </div>
                </div>
                <div class="profile">

                        <div class=" text-align: center;">
                                <img src="https://b.zmtcdn.com/web/assets/2267aec184e096c98c46a1565a5563661664945464.png?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A"
                                        style="border-radius: 50%; width: 100px; height: 100px;margin-left: 210px;"><br>
                        </div>
                        <div class="pro" style="margin-top: 10px;">
                                <ul>

                                        <li><span>Name:</span> {{ userData.userName }}</li>
                                        <li><span>Email:</span> {{ userData.email }}</li>

                                        <li><span>Signed in as </span> {{ userData.userType }}</li>
                                        <li *ngIf=" status; else showLoader">
                                                <span>Status</span>
                                                <span [ngStyle]="{
    'color': status === 'APPROVED' ? 'green' :
    status === 'VERIFIED' ? 'green' :
             status === 'REJECTED' ? 'red' :
             status === 'PENDING' ? 'orange' : ''
  }">{{ status }}</span>
                                        </li>
                                </ul>
                        </div>

                        <p-toast></p-toast>
                        <p-confirmPopup></p-confirmPopup>
                        <button pButton pRipple type="button" class="des" label="Log out"
                                class="p-button-rounded p-button-danger pt-3 ps-3 pe-3 pb-3"
                                style="margin-left: 220px;max-height: 300px;" (click)="logout()"></button>
                </div>
                <ng-template #showLoader>
                        <div class="flex row spin">
                                <p-progressSpinner styleClass="w-1rem h-1rem margin-left-20px" strokeWidth="2"
                                        fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
                        </div>

                </ng-template>
        </div>
</div>