@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile { width: 40%; margin: 50px auto; background: linear-gradient(to bottom right, #FFE4B5, #ffffff); padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1); }

.pro{
    display: flex;
    justify-content: center
}

.profile ul {
    list-style-type: none;
   
}

.profile ul li {
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.profile ul li:hover {
    background-color: #f5f5f5;
}

.profile ul li span {
    font-weight: 700;
    margin-right: 10px;
}
