<div>
        <app-nav></app-nav>
        <div style="margin-top: 100px; display: flex;">
                <div class="deluser" *ngIf="userData.userType==='Delivery'">
                        <div class="container">
                                <p><i>All the delivery users nearby:</i></p>
                                <ul>
                                        <li *ngFor="let user of users">
                                                <ul>
                                                        <li><strong>User Name:</strong> {{ user.userName }}</li>
                                                        <li><strong>Email:</strong> {{ user.email }}</li>

                                                </ul>
                                                <br>

                                        </li>
                                </ul>
                        </div>
                </div>
                <div class="detcustomer" *ngIf="userData.userType==='Customer'">
                        <div class="container" style="width:300px">
                          <div class="row">
                            <div class="row-md-4 mb-1" *ngFor="let food of foodList">
                              <div class="card mb-2 shadow-sm" style="padding: 5px;">
                                <div class="card-body">
                                  <h5 class="card-title" ><b>{{ food.name }}</b></h5>
                                  <h5></h5>
                                  <!--<p class="card-text">{{ food.description }}</p>-->
                                  <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-warning btn-sm spa"
                                      (click)="addIteminCart(food.id)">Add to Cart</button>
                                    </div>
                                    <small class="text-muted">Rs. {{ food.price.substring(0, 3) }}</small>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                <div class="profile">
                        <div class="pro">
                                <ul>
                                        <!-- <li><span>User ID:</span> {{ userData.id }}</li> -->
                                        <li><span>User Name:</span> {{ userData.userName }}</li>
                                        <li><span>Email:</span> {{ userData.email }}</li>
                                        <li><span>Phone Number:</span>9798733349</li>
                                        <li><span>User Type:</span> {{ userData.userType }}</li>

                                </ul>
                        </div>

                        <p-toast></p-toast>
                        <p-confirmPopup></p-confirmPopup>
                        <button pButton pRipple type="button" class="des" label="Log out"
                                class="p-button-rounded p-button-danger pt-3 ps-3 pe-3 pb-3" style="margin-left: 160px;"
                                (click)="confirm($event)"></button>


                </div>
                <div class="card" style="margin-top: 50px;" *ngIf="this.userData.userType==='Delivery'">
                        <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
                        <p-chart type="doughnut" [data]="basicData" [options]="basicOptions"></p-chart>
                    </div>

        </div>

</div>