<div>
        <app-nav></app-nav>
        <div style="margin-top: 200px;">
                <div class="profile">
                        <div class="pro">
                                <ul>
                                        <!-- <li><span>User ID:</span> {{ userData.id }}</li> -->
                                        <li><span>User Name:</span> {{ userData.userName }}</li>
                                        <li><span>Email:</span> {{ userData.email }}</li>
                                        <li><span>Phone Number:</span>9798733349</li>
                                        <li><span>User Type:</span> {{ userData.userType }}</li>

                                </ul>
                        </div>

                        <p-toast></p-toast>
                        <p-confirmPopup></p-confirmPopup>
                        <button pButton pRipple type="button" class="des" label="Log out"
                                class="p-button-rounded p-button-danger pt-3 ps-3 pe-3 pb-3"
                                style="margin-left: 160px;"
                                (click)="confirm($event)"></button>


                </div>

        </div>
</div>