.main_buttonInner__z6Jz0 {
        width: 96px!important;
        height: 36px!important;
    }
    .main_button__3gpqi {
        position: relative;
        width: 96px;
        min-height: 36px;
    }
    ._211P0 {
        position: absolute;
        bottom: 8px;
        width: 96px;
        min-height: 36px;
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        box-shadow: 0 3px 8px #e9e9eb;
        border-radius: 4px;
    }
    ._3L1X9 {
        display: inline-block;
        height: 30px;
        width: 83px;
        border: 1px solid #d4d5d9;
        color: #60b246;
        font-size: .9rem;
        font-weight: 600;
        line-height: 30px;
        position: relative;
        text-align: center;
        background-color: #fff;
    }