.main_buttonInner__z6Jz0 {
        width: 96px!important;
        height: 36px!important;
    }
    .main_button__3gpqi {
        position: relative;
        width: 96px;
        min-height: 36px;
    }